<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>gMovies</title>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary the-navbar">
      <a class="navbar-brand the-navbar" href="#">gMovies</a>
    </nav>
  </header>

  <div class="wrapper">

    <h1>EJS Movies</h1>

    <div class="button-div">

      <a href="/createmovie"><button class="btn">Submit Movie</button></a>

    </div>

    <div class="main-div">

      <% for (let i = 0; i < movies.length; i++) { %>
      <div class="movie-card">

        <div class="row">

          <div class="col-md-8 title-and-description">
            <div class="movie-title"><h2><%= movies[i].title %></h2></div>
            <div class="movie-description"><p><%= movies[i].desc %></p></div>
          </div><!--end col-md-9-->

          <div class="col-md-4 votes">
            <div class="row">
              <div class="total-votes col-md-4"><p><%= movies[i].votes %></p></div>
              <div class="upvote col-md-4"><a href="/upvote/<%= movies[i].id %>"><h5><i class="far fa-thumbs-up"></i></h5></a></div>
              <div class="downvote col-md-4"><a href="/downvote/<%= movies[i].id %>"><h5><i class="far fa-thumbs-down"></i></h5></a></div>
            </div><!--end row-->
          </div><!--end col-md-4-->

        </div><!-- end row-->

      </div><!--end movie card-->

      <% } %><!--end for loop-->

    </div>

  </div>
  <!--end wrapper-->
</body>

</html>
